<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Boolzapp</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <!-- Apertura Oggetto Vue-->
  <div id="root">
    <div class="background-container">
      <div class="navbar-color"></div>
      <div class="body-color"></div>
    </div>
    <div class="container">
      <div class="navbar">
        <div class="left-navbar">
          <div class="title">
            <div class="content-title">
              <img src="assets/img/avatar_1.jpg" alt="">
              <span>Nicolò Alivernini</span>
            </div>
            <div class="content-icon">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
        <div class="right-navbar">
          <div class="title">
            <div class="content-title">
              <img :src="imgSrc + ((index)+1) + '.jpg'" alt="">
              <div class="text-title">
                <p>{{ contacts[index].name }}</p>
                <p>Ultimo accesso il: {{ lastAccessUtente(index) }}</p>
              </div>
            </div>
            <div class="content-icon">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="left-main">
          <div class="alert">
            <div class="content-alert">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48"><path fill="currentColor" d="M24.154 2C11.919 2 2 11.924 2 24.165S11.919 46.33 24.154 46.33s22.154-9.924 22.154-22.165S36.389 2 24.154 2zm-.744 15.428v-.618c0-.706.618-1.324 1.324-1.324s1.323.618 1.323 1.324v.618c2.559.618 4.412 2.823 4.412 5.559v3.176l-8.294-8.294a5.056 5.056 0 0 1 1.235-.441zm1.323 15.706a1.77 1.77 0 0 1-1.765-1.765h3.529a1.768 1.768 0 0 1-1.764 1.765zm7.236-.883l-1.765-1.765H17.233v-.882l1.765-1.765v-4.853a5.56 5.56 0 0 1 .794-2.912l-2.559-2.559 1.147-1.147 14.735 14.736-1.146 1.147z"></path></svg>
            </div>
            <div class="text-alert">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <span>Attiva notifiche desktop</span>
            </div>
          </div>
          <div class="search">
            <div class="content-search">
              <i class="fas fa-search"></i>
              <input type="text" value="" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup.enter="search">
              <p></p>
            </div>
          </div>
          <div class="chat">
            <div v-for="(contatto, i) in contacts" class="content-chat" :class="(i == index) ? 'active' : '' " v-if="contatto.name.toLowerCase().includes(searchInput.toLowerCase())">
              <div class="user" @click='index=i'>
                <div class="content-user">
                  <img :src="imgSrc + ((i)+1) + '.jpg'" alt="">
                </div>
                <div class="text-user">
                  <p>{{ contatto.name }}</p>
                  <span>{{ lastMessage(i) }}</span>
                </div>
                <div class="last-access">
                  <span>{{ lastAccess(contatto, i) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-main">
          <div class="conversation" >
            <div class="content-conversation">
              <div class="text-conversation" :class="messaggio.status" v-for="(messaggio, i) in contacts[index].messages">
                <div class="bg-text-conversation">
                  <p class="message" @click="closeTendina()">{{messaggio.text}}</p>
                  <div class="option-conversation">
                    <span class="date">{{getData(messaggio.date)}}</span>
                    <div class="icon-tendina" :class="(messaggio.status == 'sent') ? 'bg-green' : 'bg-white' ">
                      <i class="fas fa-chevron-down" @click="openTendina(i)"></i>
                    </div>
                  </div>
                </div>
                <div class="menu-delete" :class="(clickTendina == 'true') ? 'menu-delete-active' : '' " @click="deleteMessage(i)" v-if="i == messageIndex" >
                  <p>Cancella messaggio</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-conversation">
            <div class="content-footer-conversation">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path></svg>
              <input type="text" value="" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="insertMessage">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11.999 14.942c2.001 0 3.531-1.53 3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531S8.469 2.35 8.469 4.35v7.061c0 2.001 1.53 3.531 3.53 3.531zm6.238-3.53c0 3.531-2.942 6.002-6.237 6.002s-6.237-2.471-6.237-6.002H3.761c0 4.001 3.178 7.297 7.061 7.885v3.884h2.354v-3.884c3.884-.588 7.061-3.884 7.061-7.885h-2z"></path></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- Chiusura oggetto Vue-->

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
