* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.navbar-color {
  width: 100%;
  height: 20vh;
  background-color: #009688;
}

.body-color {
  width: 100%;
  height: 80vh;
  background-color: rgb(s, 210, 201);
}

.container {
  width: 90%;
  height: 90%;
  background-color: blue;
  position: absolute;
  left: 5%;
  top: 5%;
}

.navbar {
  width: 100%;

  display: flex;
}

.left-navbar {
  width: 40%;
  height: 75px;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid rgb(217, 215, 217);
  font-family: 'Source Sans Pro', sans-serif;
}

.right-navbar {
  width: 60%;
  height: 75px;
  background-color: #EDEDED;
  display: flex;
  padding: 0 20px;
  border: 1px solid rgb(217, 215, 217);
  font-family: 'Source Sans Pro', sans-serif;
}

/* MODIFICHE LEFT-RIGHT NAVBAR */

.left-navbar .title, .right-navbar .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navbar .title .content-title, .right-navbar .title .content-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-navbar .title .content-title img, .right-navbar .title .content-title img {
  width: 10%;
  border-radius: 50%;
}

.left-navbar .title .content-icon, .right-navbar .title .content-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-navbar .title i, .right-navbar .title i {
  color: rgb(145, 145, 145);
  font-size: 20px;
  margin: 0 7px;
}
