* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.navbar-color {
  width: 100%;
  height: 20vh;
  background-color: #009688;
}

.body-color {
  width: 100%;
  height: 80vh;
  background-color: rgb(212, 210, 201);
}

.container {
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  position: absolute;
  left: 5%;
  top: 5%;
}

.navbar {
  width: 100%;
  height: 7%;
  display: flex;
}

.left-navbar {
  width: 40%;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid rgb(217, 215, 217);
  font-family: 'Source Sans Pro', sans-serif;
}

.right-navbar {
  width: 60%;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid rgb(217, 215, 217);
  font-family: 'Source Sans Pro', sans-serif;
}

/* MODIFICHE LEFT-RIGHT NAVBAR */

.left-navbar .title, .right-navbar .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navbar .title .content-title, .right-navbar .title .content-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-navbar .title .content-title img, .right-navbar .title .content-title img {
  width: 45px;
  border-radius: 50%;
}


.left-navbar .title .content-icon, .right-navbar .title .content-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-navbar .title i, .right-navbar .title i {
  color: rgb(145, 145, 145);
  font-size: 20px;
  margin: 0 7px;
}

/* MODIFICHE MAIN */
.main {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-main {
  width: 40%;
  height: 100%;
  background: #fff;
}

.right-main {
  width: 60%;
  height: 100%;
  /* background-color: red; */
}

/* MODIFICHE LEFT MAIN */

.alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-color: #9DE1FE;
}

.alert .content-alert svg {
  color: #fff;
  margin-right: 10px;
}

.alert .text-alert p {
  font-family: 'Source Sans Pro', sans-serif;
}

.alert .text-alert span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-decoration: underline;
}

/* MODIFICO SEARCH */

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-color: #EDEDED;
}

.search .content-search {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.search .content-search i {
  padding: 5px 15px;
  color: rgb(145, 145, 145);
}

.search .content-search input {
  padding: 5px;
  border: 0;
  width: 85%;
}

.search .content-search input::placeholder{
  font-family: 'Source Sans Pro', sans-serif;
}

/* MODIFICO CHAT */

.chat {
  display: flex;
  flex-direction: column;
}

.content-chat {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgb(217, 215, 217);
}

.user {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
}

.content-user {
  width: 65px;
  margin-right: 15px;
}

.chat .content-chat .user .content-user img {
  width: 100%;
  border-radius: 50%;
}

.chat .content-chat .user .text-user {
  font-family: 'Source Sans Pro', sans-serif;
}

/* MODIFICO RIGHT MAIN */

.conversation {
  height: 100%;
  width: 100%;
  background-image: url("../img/mine.jpg");
  position: relative;
}


.footer-conversation {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #EDEDED;
  width: 60%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 0 15px; */
}

.footer-conversation .content-footer-conversation svg {
  width: 15%;
  color: rgb(145, 145, 145);
}

.footer-conversation .content-footer-conversation input {
  width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 15px;
}
